Tests: simple
Restrictions: allow-stderr isolation-container needs-root
Depends: curl,
         libnginx-mod-http-lua,
         libnginx-mod-http-ndk,
         nginx,
         nginx-common,
         nginx-core,
